@media (max-width:1220px) {
    .container{
        width:90%
    }
}

@media (max-width:1221px) {
    .cardwrapper{
        justify-content: space-around;
    }
}

@media (max-width: 800px){
    nav{
        display: none;
    }
    .fa-bars{
        display: inline-block;
    }
}

@media (max-width: 886px){
    .section2flex{
        flex-direction: column;
        align-items: center;
    }

    .infobox{
        width:70%
    }

    .infobox h4, .infobox h3,.infobox p{
        text-align: center;
    }
    .infobox{
        margin-bottom: 20px;
    }
    
}

@media(max-width:1428px){
    .section2flex{
        margin-left: 30px;
    }
}