@media (max-width:1220px) {
    .container{
        width:90%
    }
}

@media (max-width:1221px) {
    .cardwrapper{
        justify-content: space-around;
    }
}

@media (max-width: 800px){
    nav{
        display: none;
    }
    .fa-bars{
        display: inline-block;
    }
}
